.nav.navbar-right > li > a:hover {
    color: #6b6d6e;
}

.student-main {
    height: 100vh;
}

.student-info {
    display: inline-flex;
}

.select-extender {
    height: 162px;
}

.leave-option {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1ab394;
    cursor: pointer;
}

.center-btn-up {
    margin-left: 7.5em;
}

.center-btn-down {
    margin-left: 6.5em;
}
ol.breadcrumb {
    background-color: transparent;
}

.row .no-gutters {
    padding-left: 0;
    padding-right: 0;
}

.ping-section {
    display: inline-flex;
    margin-left: 14px;

    p:first-child {
        padding: 14px 4px 14px 25px;
    }

    p {
        font-weight: 600;
        margin-top: 1em;
        margin-bottom: .5em;
        padding: 14px 4px 14px 4px;
        color: #999c9e;
    }
}

.navbar-top-links li:last-child {
    margin-right: 45px;
}

.geogebra-applet {
    margin-left: .9em;
}

.geogebra-interface {
    margin-left: 1.3em;
    margin-top: 1.3em;
    margin-bottom: .5em;
    height: 80vh;
}

.group-buttons {
    margin-left: .8em;
}

table {
    td {
        vertical-align: middle !important;
    }
}

table.designer-class-table tr {
    td:first-child, td:nth-child(2) {
        line-height: 29px;
    }
}

.class-table {
    overflow: auto;
    height: 36em;
}

.class-view-table {
    overflow: auto;
    height: 20em;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #1ab394;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


.axis-label {
    margin-right: 12em;
    margin-bottom: .5em !important;
}

.geogebra-frame {
    padding: 0px;
}

.student-table {
    margin-bottom: 0rem !important;
}

.btn-leave {
    margin-left: -.3em;
}

.toast-top-center {
    margin-top: 2em !important;
}

.student-main {
    .wrapper-content {
        padding: 0 !important;
    }
}

.group-info {
    h4 {
        margin-top: 9px;
        font-size: 1.3em;
        margin-right: 8px;
    }
}

.admin-view-applet-holder {
    margin: 1em;
    margin-bottom: 2em;
    text-align: center;
}

.list-of-draggable-tools {
    width: 100%;
    margin-left: -15px;
}

.draggable-list {
    float: left;
    min-height: 52px;
    width: 52px;
    border: 0.5px solid gray;
    border-radius: 3px;
    margin-bottom: 6em;

    background-color: lightgray;
}

.draggable-lists-container {
    float: left;
    clear: both;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: -15px;
}

.available-tool-icon {
    float: left;
    width: 46px;
    height: 46px;
    border: 0.5px solid gray;
    border-radius: 3px;
    margin: 2px;

    padding: 0px;
}

.available-tool-icon img, .tool-icon img {
    width: 46px;
    height: 46px;
}

.tool-icon {
    width: 46px;
    height: 46px;
    border: 0.5px solid gray;
    border-radius: 3px;
    margin: 2px;

    background-color: white;

    position: relative;
    padding: 0px;
}

.tool-delete-button {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10px;
    background-color: red;
    color: white;
    border-radius: 7.5px;
    border: none;

    width: 15px;
    height: 15px;
}

.toolbar-show-options {
    float: left;

    .btn {
        width: 52px;
        height: 52px;
        margin-top: 26px;
    }
}
