.ibox-style-extender {
    //display: none;
}

.select-extender {
    height: 162px;
}

ol.breadcrumb {
    background-color: transparent;
}

.row .no-gutters {
    padding-left: 0;
    padding-right: 0;
}
